<%= form_for(@car) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :name, placeholder: "Compose new micropost..." %>
    <%= f.text_area :namsx %>
    <%= f.text_area :color %>
    <%= f.text_area :price %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>