<%= form_for(@car) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
  <label> Name </label>
    <%= f.text_field :name %>
    <label> Year </label>
    <%= f.text_field :year %>
    <label> Color </label>
    <%= f.text_field :color %>
    <label> Price </label>
    <span>
      <%= f.text_field :price %> 
      <%= select_tag :search3, options_for_select(["VND", "USD"]), { :class => "form-control", :prompt => "" } %>
    </span>
  </div>
  <%= f.submit btn, class: "btn btn-primary" %>
<% end %>