<li id="order-<%= order.id %>">
  <span class="name_guest"> <label>Name:</label>
    <%= order.user.name %></span></br>
    <span class="address"><label>Email:</label>
    <%= order.user.email %></span></br>
     <span class="address"><label>Phone:</label>
    <%= order.phone %></span></br>
    <span class="checkin_time"><label>Rent Time:</label>
    <%= order.rent_time %></br>
    <span class="checkin_time"><label>Return Time:</label>
    <%= order.return_time %></br>
    <span class="order_status"> <label>Order Status:</label>
    <%= order.orders_status %></br>
    <span class="timestamp"><label>Posted</label>
  <%= time_ago_in_words(order.created_at) %> ago.
</span>
</li>
  <% if admin? && order_show(order.orders_status) %>
    <p> <%= link_to "Deny", order_deny_path(order), class: "btn btn-primary", method: :patch %> 
    </p>
    <p> <%= link_to "approved", order_approved_path(order), class: "btn btn-primary", method: :patch %> </p>
  <% end %>
</span>