<li id="cars-<%= car.id %>">
  <span class="name">Tên xe : <%= car.name %></span><br>
  <span class="year">Năm  : <%= car.year %></span><br>
  <span class="price">Gía : <%= car.price %></span><br>
  <span class="color">Màu : <%= car.color %></span><br>
  <span class="timestamp">
    <% if logged_in? && admin? %>
      Posted <%= time_ago_in_words(car.created_at) %> ago.
        <%= link_to "edit", edit_car_url(car) %>
        <%= link_to "delete", car, method: :delete,
                                   data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
<hr>